
# OS / SYSTEM
.DS_Store
Thumbs.db


# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
build/
dist/
.ipynb_checkpoints/


# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata


# CONDA / VIRTUAL ENVIRONMENTS
.env
.venv
venv/
env/
conda-meta/


# SNAKEMAKE
.snakemake/
snakemake.log
snakemake.stats


# LOGS
logs/
*.log


# PIPELINE OUTPUTS
results/
intermediate/
tmp/
temp/


# RAW AND LARGE DATA
data/


# COMMON NGS / BIOINFO LARGE FILES
*.bam
*.bai
*.sam
*.cram
*.crai
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.vcf
*.vcf.gz
*.h5
*.hdf5
*.loom
*.mtx
*.tsv.gz
*.csv.gz
*.zip
*.tar
*.tar.gz


# LARGE REFERENCE BUNDLES / BINARIES
resources/igblast_full/
resources/ncbi_igblast_bundle/
resources/**/blastdb/


# KEEP SMALL REFERENCE FASTA FILES
!resources/**/*.fasta
!resources/**/*.fa
!resources/**/*.fasta.gz
!resources/**/*.fa.gz


# EDITOR FILES
*.swp
*.swo
*~
.vscode/
.idea/
